@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
.col-4{
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.card {
    padding: 35px;
    width: 424px; 
    border-radius: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.row{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.card:hover {
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}
/* section{
    min-height: 100vh;
    display: flex;
    align-items: center;

} */
 .min-vh-100{
    min-height: 100vh;
 }

 .d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}
.justify-content-center{
    justify-content: center;
} 

.card-button {
    padding: 11px 28px;
    background: #2C49FE;
    border-radius: 23px;
    border-radius: 23px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    border: none;
}

.info {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    opacity: 0.6;
    margin-left: 8px;
}

.card-heading {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.mb-16 {
    margin-bottom: 16px;
}

.w-100 {
    width: 100%;
}

.mb-24{
    margin-bottom: 24px;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.col-12{
    width: 100%;
padding-left: 12px;
padding-right: 12px;}

@media(min-width:768px){
    .col-md-4{
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
        .md-bd-0{
            margin-bottom: 0px;
        }
        
    }
    @media(min-width:576px){

.col-sm-6{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;}
}
 